.footer__coopyright{
  max-width: 186px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  }

@media all and (max-width: 625px) {
  .footer__coopyright{
    line-height: 14px;
    text-align: left;
    }
  }  