.intro__list{
  max-width: 690px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  text-align: left;
  padding: 0;
  margin: 0;
  list-style:none;
}

@media all and (max-width: 768px) {
  .intro__list{
    max-width: 720px;
  }
}

@media all and (max-width: 320px) {
  .intro__list{
    max-width: 288px;
  }
}

