.cover__title{
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  z-index: 4;
  margin: 0;
  padding: 0;
}

@media all and (max-width: 532px) { 
  .cover__title{
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}

