.place{
  margin: 0 0 80px 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 40px;
  align-items: start;
  grid-template-areas: 
  "title website"
  "image text";
}

.place:last-child{
  margin: 0;
}

@media all and (max-width: 1024px) {
  .place{
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 32px;
  }
}

@media all and (max-width: 768px) {
  .place{
    margin: 0 0 73px 0;
    gap: 48px 28px;
  }
}

@media all and (max-width: 425px) {
  .place{
    max-width: 320px;
    margin: 0 0 50px 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 32px 0;
    grid-template-areas: 
    "title" 
    "website"
    "image "
    "text";
  }
}

    
    